header {
  height: auto;
  z-index: 4000;

  @include mobile {
    .img {
      top: 69px;
      width: 100%;
      height: 454.493px;
      padding: 0;
      margin-bottom: 70px;
      object-fit: cover;
    }
  }

  @include desktop {
    .img {
      width: 100%;
      height: 69px;
      object-fit: contain;
    }

    height: auto;
    position: relative;
  }

  @include mobile {
    .menu {
      display: none;
    }

    .menu-mobile {
      .nav {
        @include flexSpace();
        width: 100%;
        height: 69px;
        position: absolute;
        top: 0;
        background-color: $color-3;
        padding: 4px 2%;

        .logo-header {
          img {
            height: 61px;
          }
        }
        .search-btn {
          i {
            color: #a7a7a7;
            font-size: 19px;
          }
        }

        .toggle {
          font-size: 35px;
        }

        a {
          text-decoration: none;
          color: $color-6;
        }

        i {
          font-size: 35px;
          vertical-align: middle;
          color: $color-7;
        }
      }

      .navbar-links {
        display: none;
        width: 60%;

        ul {
          @include flexCenter();
          width: 100%;
          flex-direction: column;

          li {
            width: 100%;
            height: 100%;
            padding: 0.5rem 1rem;

            a {
              padding: 0.5rem 1rem;
              text-decoration: none;
              color: $color-6;
            }

            a:hover {
              color: white;
              background-color: $color-6;
            }
          }
        }

        &.active {
          display: flex;
          position: absolute;
          left: -26px;
          top: 69px;
        }
      }
    }
  }

  @include desktop {
    .menu-mobile {
      display: none;
    }

    .menu {
      @include flexSpace();
      flex-wrap: wrap;
      position: fixed;
      width: 100%;
      top: 0;
      transition: top 0.8s;
      background-color: rgba(255, 255, 255, 0.65);
      padding: 30px 102px;
      height: 122px;
      box-shadow: 0 0 16px 0 black;

      i {
        vertical-align: middle;
        color: $color-6;
      }

      .nav-menu {
        @include flexSpace();

        .user-btn {
          .user-list {
            display: none;
          }
        }

        .user-btn:hover {
          .user-list {
            @include flexColumn();
            position: absolute;
            right: 54px;
            width: 74px;

            a {
              border: 1px solid black;
            }

            #logoutBtn {
              margin-top: 4px;
              border: 1px solid black;
              width: 74px;
              background-color: white;
            }
          }
        }

        .logo {
          padding-right: 33px;
        }

        a {
          font-size: 16px;
          text-transform: capitalize;
          font-weight: 400;
          transition: all 0.42s ease;
          text-decoration: none;
        }

        .box {
          width: 374px;
          height: 45px;
          cursor: pointer;
          padding: 10px 18px;
          background-color: $color-3;
          border-radius: 6px;
          position: relative;
          border: 1px solid $color-15;

          input {
            &::placeholder {
              color: #d4d1d4;
            }

            width: 100%;
            height: 100%;
            font-weight: 400;
            transition: 0.8s;
            background: transparent;
            padding-right: 10px;
            outline: none;
            border: none;

            &.search {
              @include fontStyle($color-6, $font-noto-san-jp, 15px, 500);
            }
          }

          button {
            width: 40px;
            height: 100%;
            border: none;
            background-color: $color-3;
            margin-right: 5px;
            top: 0;
            right: 0;
            position: absolute;

            i {
              color: #a7a7a7;
              font-size: 19px;
            }
          }
        }

        .first,
        .second {
          height: 31px;
          color: white;
          border-radius: 3px;
          border: none;
          margin-right: 27px;
        }

        .first {
          width: 51px;
          background-color: $color-14;
        }

        .second {
          width: 104px;
          margin-right: 76px;
        }

        li {
          .login {
            margin: 0 32px 0 202px;
          }

          a,
          p {
            &.user {
              margin: 0;
            }

            color: $color-6;
            font-family: $font-noto-san-jp;
            font-weight: 500;
            font-size: 15px;
          }

          i {
            font-size: 26.67px;
          }

          .second {
            padding: 0 106px 0 0;
            width: 100%;
          }

          .third {
            padding: 0;
          }

          .fouth {
            padding-left: 17px;
          }
        }
      }
    }
  }
}

.create-blog {
  form {
    .loged {
      background-color: rgba(255, 255, 255, 0.65) !important;
      color: black !important;
    }
  }

  .second {
    background-color: $color-14;
  }
}
