$font-noto-san-jp: Noto Sans JP;
$font-gyloy: SVN-Gilroy;

$color-1: #c40000;
$color-2: #ffe4e4;
$color-3: #fff;
$color-4: #211e3b;
$color-5: #dedede;
$color-6: black;
$color-7: #292d32;
$color-8: #212121;
$color-9: #007bff;
$color-10: #e40303;
$color-11: #d9d9d9;
$color-12: #dfdddf;
$color-13: #87b6e7;
$color-14: #770303;
$color-15: #d4d4d4;
$color-16: #afafaf;
$color-17: #d10000;
$color-18: #000;
$color-19: #a7a7a7;
$color-20: #abb1ab;
$color-21: #dc3545;
$color-22: #747474;
$color-23: #e1e1e1;
$color-24: #0f9922c5;
$color-25: #b0b0b0;
$color-26: #e4e4e4;
$color-27: #e5e5e5;
