@import "variables";
@import "mixin";
@import "header";
@import "footer";
@import "register";
@import "create_blog";
@import "detail_blog";
@import "profile";
@import "home";
@import "edit_profile";
@import "message";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  list-style: none;
  font-family: $font-noto-san-jp;
}
