@import "breadcrumb";

.content {
  @include mobile {
    margin: 123px 40px 40px 40px;
  }

  @include desktop {
    }

  .create {
    @include mobile {
      padding: 31px 11px;
    }

    @include desktop {
      padding: 31px 30px;
    }

    background-color: $color-11;

    h1 {
      @include fontStyle($color-8, $font-noto-san-jp, 20px, 700);
    }

    .form-input {
      @include fontStyle($color-8, $font-noto-san-jp, 15px, 400);

      label {
        display: block;
        margin-bottom: 10px;

        span {
          color: $color-10;
        }
      }

      .title {
        border-radius: 4px;
        border: 1px solid $color-5;
        width: 100%;
        height: 40px;
        padding-left: 20px;
        color: black;
      }

      .error {
        @include fontStyle($color-17, $font-noto-san-jp, 15px, 400);
        margin-top: 5px;
      }
    }

    .category {
      margin-bottom: 34px;

      select {
        @include fontStyle($color-11, $font-noto-san-jp, 15px, 400);
        padding: 0 14px;

        @include mobile {
          width: 50%;
        }

        @include desktop {
          width: 334px;
        }

        border: none;
        height: 40px;
        border-radius: 4px;
        background-color: $color-3;
        appearance: none;
        background-image: url(../../public/images/Vector2.svg);
        background-repeat: no-repeat;
        background-position: right 14.74px center;
      }
    }

    .outer {
      width: 269px;
    }

    .upload {
      img {
        width: 20%;
      }
      .first {
        margin: 20px 0;
      }

      .second {
        @include fontStyle($color-13, $font-noto-san-jp, 15px, 700);
        width: 133px;
        height: 40px;
        border: 1px solid $color-9;
        margin: 0 0 10px 0;
        padding: 6px 0 0 14px;
        border-radius: 4px;
      }

      img {
        display: none;

        @include mobile {
          width: 207px;
          object-fit: cover;
        }

        @include desktop {
          width: 269px;
        }

        height: 170px;
      }
    }

    .description {
      margin-top: 27px;

      textarea {
        width: 100%;
        height: 459px;
        padding: 20px;
        border-radius: 4px;
        border: 1px solid $color-5;
      }
    }

    .submit {
      @include flexCenter();

      button {
        width: 146px;
        height: 39px;
        background-color: $color-14;
        border: none;
        color: white;
        border-radius: 4px;
        margin-top: 20px;
      }
    }
  }
}
