.create {
    .nav {
    @include flexSpace;
    img {
      width: auto;
      height: 61px;
    }
    h1 {
      font-size: 40px;
    }
  }
  .form {
    margin-top: 20px;
    .form-input {
      @include fontStyle($color-8, $font-noto-san-jp, 15px, 400);
      h1 {
        margin: 5px 0;
      }

      button,
      label {
        display: block;
        margin-bottom: 10px;
        span {
          color: $color-10;
        }
      }

      .title {
        border-radius: 4px;
        border: 1px solid $color-5;
        width: 100%;
        height: 40px;
        padding-left: 20px;
        color: black;
      }

      .error {
        @include fontStyle($color-17, $font-noto-san-jp, 15px, 400);
        margin-top: 5px;
      }
    }

    .outer {
      width: 269px;
    }

    .upload {
      img {
        width: 20%;
      }
      .first {
        margin: 20px 0;
      }

      .second {
        @include fontStyle($color-13, $font-noto-san-jp, 15px, 700);
        width: 133px;
        height: 40px;
        border: 1px solid $color-9;
        margin: 0 0 10px 0;
        padding: 6px 0 0 14px;
        border-radius: 4px;
      }

      img {
        display: none;

        @include mobile {
          width: 207px;
          object-fit: cover;
        }

        @include desktop {
          width: 269px;
        }

        height: 170px;
      }
    }

    .submit {
      @include flexCenter();
      button {
        width: 146px;
        height: 39px;
        background-color: $color-14;
        border: none;
        color: $color-3;
        border-radius: 4px;
        margin-top: 20px;
      }
    }
  }
}

.func {
  @include flexSpace;
  margin: 12px 20px 20px 0;
  a {
    width: 100%;
    text-decoration: double;
    .cancel {
      @include flexCenter;
      margin-bottom: 30px;
    }
  }
}
