img {
  width: 100%;
}
section {
  @include mobile {
    margin: 0 68px 0 64px;
    .list-title {
      @include flexSpace();
      padding: 0 0 28px 0;
      h1 {
        @include fontStyle($color-18, $font-noto-san-jp, 30px, 700);
      }
      .category {
        width: 144px;
        height: 40px;
        .select {
          width: 100%;
          height: 100%;
          padding-left: 15px;
          font-family: $font-noto-san-jp;
          border: 1px solid $color-5;
          border-radius: 4px;
          appearance: none;
          background-image: url(../../public/images/ic_round-navigate-next.png);
          background-repeat: no-repeat;
          background-position: right 10px center;
        }
      }
    }
  }

  @include desktop {
    margin: 0 101px;
    .list-title {
      @include flexSpace();
      margin: 72.58px 0 8px 0;
      h1 {
        @include fontStyle($color-18, $font-noto-san-jp, 50px, 700);
      }
      .category {
        width: 144px;
        height: 40px;
        select {
          width: 100%;
          height: 100%;
          padding-left: 15px;
          font-family: $font-noto-san-jp;
          border: 1px solid $color-5;
          border-radius: 4px;
          appearance: none;
          background-image: url(../../public/images/ic_round-navigate-next.png);
          background-repeat: no-repeat;
          background-position: right 10px center;
        }
      }
    }
  }

  img {
    width: 100%;
    height: 276px;
    margin-top: 20px;
    border-radius: 8px 8px 0 0;
  }

  .card-body {
    border: 1px solid $color-5;
    border-radius: 0 0 8px 8px;
    margin-bottom: 50px;
    padding: 0 20px 0 22px;
    .author-time {
      @include flexSpace();
      align-items: start;
      justify-content: flex-start;
      font-weight: 400;
      margin: 25px 0 15px 0;

      span {
        @include fontStyle($color-4, $font-gyloy, 18px, 400);
        i {
          font-size: 24px;
        }
      }
      .author,
      .time {
        @include flexSpace();
        padding: 0 21px 0 0;
        span {
          margin-left: 5px;
        }
      }
    }
  }

  .title {
    @include fontStyle($color-4, $font-gyloy, 20px, 700);
    padding: 0;
    margin-bottom: 10px;
    text-decoration: none;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }

  p {
    @include fontStyle($color-4, $font-gyloy, 18px, 400);
    padding: 0;
    height: 50px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  .read-more {
    @include flexCenter();
    width: 137px;
    height: 40px;
    border: 1px solid $color-26;
    border-radius: 4px;
    margin: 29px 0 21px 0;
    &:hover {
      background-color: $color-1;
      a {
        color: $color-3;
      }
    }
    a {
      color: $color-1;
      display: block;
      text-decoration: none;
      width: 100%;
      height: 100%;
      text-align: center;
      padding-top: 6px;
    }
    i {
      padding-left: 8px;
      font-size: 18px;
      vertical-align: middle;
    }
  }

  .pagination {
    @include flexCenter();
    @include mobile {
      margin: 17px 0 53px 0;
    }
    @include desktop {
      margin: 0 0 96px 0;
    }

    li {
      display: inline-block;
      list-style: none;
      margin: 2px;
      a {
        @include fontStyle($color-4, $font-gyloy, none, 700);
        width: 40px;
        height: 40px;
        display: block;
        line-height: 40px;
        background-color: $color-3;
        text-align: center;
        text-decoration: none;
        border-radius: 4px;
        margin: 0px;
      }
      i {
        vertical-align: center;
      }
    }

    .pa-left {
      font-size: 20px;
      a {
        color: $color-2;
        width: 40px;
        height: 40px;
        background-color: $color-1;
        border-radius: 50%;
        &.active,
        &:hover {
          color: $color-1;
          background-color: $color-2;
          border-radius: 50%;
        }
      }
    }
    .pa-dis {
      font-size: 20px;
      a {
        width: 40px;
        height: 40px;
        background-color: $color-27;
        border-radius: 50%;
      }
    }
  }
}
