.center {
  margin: 144px 100px 40px 100px;
  .img-radius {
    border-radius: 50%;
    height: 118px;
    margin: 5px 0 0 5px;
  }
  .navbar {
    @include flexCenter;
    width: 100%;
    height: auto;
    background-color: $color-18;
    justify-content: flex-start;
    a {
      text-decoration: none;
      color: $color-3;
      margin: 0 20px;
    }
  }

  .tag {
    height: 360px;
    .card {
      margin: 10px 0;
      img {
        height: 210px;
      }
      .card-body {
        height: 120px;
      }
    }
  }

  .row2 {
    display: none;
  }

  .card-body {
    .category {
      display: flex;
      span {
        margin-right: 4px;
      }
    }
    a {
      text-decoration: none;
      font-size: 18px;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
    }
  }
}
